.input-item {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.input {
    padding: 0.5rem;
    width: calc(100% - 1rem);
    resize: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: none;
    outline: none;
    overflow: auto;
    background-color: transparent;
    color: white;
    flex: 1;
    border: 1px solid rgba(234, 255, 140, 0.3);
    border-bottom: none;
    font-size: x-large;
}

.input-length {
    padding-inline: 0.35rem;
    width: calc(100% - 0.7rem);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: rgb(255, 255, 255);
    background-color: transparent;
    margin: 0px 0 0 0;
    border: none;
    text-align: end;
    border: 1px solid rgb(234, 255, 140, 0.3);
    border-top: none;
}